html, body {
    width: 100%;
    margin: 0;
    padding: 0;

    --header-font: "Quicksand", serif;
    --general-font: system-ui, serif;
    --general-font-size: 1rem;

    font-family: var(--general-font);
    font-size: var(--general-font-size);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('assets/gifs/background.gif');
    background-repeat: repeat;
    background-size: 100%;
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--header-font);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

* {
    box-sizing: border-box;
}

header {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header > .logo {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1em;
}

header > a {
    margin: 0;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
    font-weight: normal;
    display: block;
    text-align: center;
    font-family: var(--header-font);
}

.in-between-img {
    position: relative;
    z-index: -1;
    max-height: 10em;
}

.in-between-img img {
    width: 100%;
}

main {
    background-color: white;
    padding: 2rem;
    width: min(100%, 600px);
    margin: 0 auto;
    margin-bottom: 5rem;
    display: grid;
    gap: 1em;
    border-radius: 1em;
    margin-top: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

main p {
    text-align: justify;
    margin: 0;
}

main .checkbox-container {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: 1em;
}

main h1, main h2, main h3,
main h4, main h5, main h6 {
    margin: 0;
}

main h1 {
    text-align: center;
}

main ol,
main ul {
    margin: 0;
}

main fieldset {
    padding: 1rem;
    display: grid;
    gap: 1em;
    border-radius: .8em;
    border: 1px solid #ccc;
}

main a.linkbutton,
main input,
main button {
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    width: 100%;
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.2em;
    padding: .8em;
    border-radius: .5em;
    background-color: rgb(244, 244, 244);
    border: 1px solid #a1a1a1;
    cursor: pointer;
    transition: 100ms;
}

main input {
    background-color: white;
}

main .round-edges {
    border-radius: .8em;
}

main input[type=text] {
    cursor: text;
}

main a.linkbutton:hover,
main button:hover:not(:disabled) {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

main button:disabled {
    cursor: not-allowed;
}

main section {
    display: grid;
    gap: 1em;
}

main textarea {
    width: 100%;
    resize: vertical;
    padding: .8em;
    border-radius: .5em;
    background-color: rgb(251, 251, 251);
    border: 1px solid #a1a1a1;
}

main img {
    width: 100%;
}

footer {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    margin-top: auto;
    padding: 1rem;
}

/* non general css for multigolf */

.player-status-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: .6rem;
}

.player-status-container .circle-indicator {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: black;
    margin-top: .35rem;
}

.player-status-container .circle-indicator.green {
    background-color: rgb(0, 255, 0);
}

.player-status-container .circle-indicator.orange {
    background-color: rgb(255, 204, 0);
}

.player-status-container .circle-indicator.red {
    background-color: rgb(255, 0, 0);
}

.player-status-container .reconnect {
    font-size: .8em;
    padding: .3em;
}

#fullscreen-canvas {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/compressed/objects/grid.png");
    background-size: 20%;
    image-rendering: pixelated;
}

main section[data-phase] {
    display: none;
}

main #board-canvas {
    width: 100%;
    aspect-ratio: 4 / 3;
}

@keyframes loading-text {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

h2#loading-indicator {
    animation: loading-text 3s infinite;
}

main .object-selection-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

main .object-selection-container .object {
    border: 1px solid #a1a1a1;
    --object-padding: .6rem;
    --object-border-radius: .5rem;
    padding: var(--object-padding);
    border-radius: var(--object-border-radius);
    position: relative;
}

main .object-selection-container .object.selected {
    outline: 3px solid blue;
}

main .object-selection-container .object:not(.selected) {
    cursor: pointer;
}

main .object-selection-container .head-img {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: calc(-1 * var(--object-padding));
    margin-left: calc(-1 * var(--object-padding));
    margin-right: calc(-1 * var(--object-padding));
    margin-bottom: var(--object-padding);
    border-radius: var(--object-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #a1a1a1;
    background-image: url("assets/objects/grid.svg");
    background-size: 50%;
}

main .object-selection-container .head-img > img {
    height: 4em;
    width: auto;
    image-rendering: pixelated;
}

main .object-selection-container .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    font-weight: bold;
    background-color: white;
    border-top-left-radius: var(--object-border-radius);
    border-bottom-right-radius: var(--object-border-radius);
    font-family: var(--header-font);
    border-bottom: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
}

main .scoreboard {
    border-radius: .8em;
    border: 1px solid #ccc;
    width: auto !important;
    max-width: 100%;
    max-height: 25em;
}

main .object-selection-container .description {
    font-family: var(--general-font);
}