html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* this property should be replaced by JS later
       since 100vh is too tall on mobile browsers that
       include the address bar in the 100vh */
    --full-height: 100vh;

    --huge-text-size: 5rem;
    --subtitle-huge-text-size: 1.5rem;

    --main-max-width: 600px;
    --header-max-width: 800px;
    --footer-max-width: 800px;

    --glassy-blur: blur(8px);

    --banner-background: red;
    --banner-foreground: white;

    --header-background: rgba(243, 249, 243, .6);
    --header-border: none;
    --header-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    --header-button-background: white;
    
    --footer-background: transparent;
    --footer-border: none;
    --footer-shadow: none;
    --footer-hr-color: #f4f4f4;
    --footer-text-color: #707070;
    
    --header-font: "Quicksand", system-ui, serif;
    --general-font: system-ui, serif;
    --general-font-size: 1rem;

    --card-background: white;
    --card-border: 1px solid #ccc;
    --card-shadow: none;
    --card-text-color: black;

    --button-background: rgb(244, 244, 244);
    --button-color: var(--card-text-color);
    --button-border: 1px solid #a1a1a1;

    --input-background: rgb(251, 251, 251);
    --input-color: var(--card-text-color);

    --background: rgb(243, 249, 243);
    --primary-accent-color: #22e77b;
    --on-primary-accent-color: white;
}

body[data-style="dark"] {
    --header-background: rgba(0, 0, 0, 0.6);
    --header-button-background: black;

    --footer-hr-color: rgb(50, 50, 50);
    --footer-text-color: rgb(221, 221, 221);

    --card-background: rgb(43, 43, 43);
    --card-border: 1px solid rgb(105, 105, 105);
    --card-shadow: none;
    --card-text-color: white;

    --button-background: rgb(61, 61, 61);
    --button-color: var(--card-text-color);
    --button-border: 1px solid #707070;

    --input-background: rgb(37, 37, 37);
    --input-color: var(--card-text-color);

    --background: rgb(0, 0, 0);
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: var(--full-height);
    background: var(--background);
    background-size: 40%;
    font-family: var(--general-font);
    font-size: var(--general-font-size);
}

.huge-text-container {
    color: var(--card-text-color);
    font-size: var(--huge-text-size);
    margin-top: .2em;
    margin-bottom: .5em;
    text-align: center;
    padding-left: .5em;
    padding-right: .5em;
}

.huge-text-container .headline {
    font-family: var(--header-font);
    font-size: var(--huge-text-size);
    padding: .5em;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: -.5em;
    font-weight: bold;
}

.huge-text-container .subtitle {
    padding: .5em;
    font-family: var(--header-font);
    font-size: var(--subtitle-huge-text-size);
}

@media only screen and (max-width: 1100px) {

    body {
        --huge-text-size: 4rem;
        --subtitle-huge-text-size: 1.4rem;
    }
    
}

@media only screen and (max-width: 800px) {

    body {
        --huge-text-size: 3rem;
        --subtitle-huge-text-size: 1.3rem;
    }
    
}

h1, h2, h3,
h4, h5, h6 {
    font-family: var(--header-font);
}

* {
    box-sizing: border-box;
}

header {
    --popout-margin: .8rem;

    padding: 1rem;
    z-index: 102;
    border-bottom: var(--header-border);
    box-shadow: var(--header-shadow);
    border-radius: 2.4rem;
    
    width: min(var(--header-max-width), 100%);
    margin: 0 auto;

    transition: 300ms;
}

header:is(:not(.at-top)),
header.expanded {
    background: var(--header-background);
    backdrop-filter: var(--glassy-blur);
    -webkit-backdrop-filter: var(--glassy-blur);
}

header .header-content {
    display: flex;
    position: relative;
}

body:not(.sticky-header) header {
    box-shadow: none;
}

body.sticky-header header.at-top {
    box-shadow: none;
}

body.sticky-header header:not(.at-top) {
    width: calc(min(var(--header-max-width), 100%) - var(--popout-margin) * 2);
    top: var(--popout-margin);
}

body.sticky-header header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(var(--header-max-width), 100%);
}

header .logo-container .logo {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .4em;
}

header .logo-container {
    margin: 0;
    font-size: 1.8em;
    text-decoration: none;
    color: var(--card-text-color);
    font-weight: normal;
    display: flex;
}

header .logo-container .logo-text {
    display: block;
    text-align: center;
    font-family: var(--header-font);
    display: flex;
    align-self: center;
    font-weight: bold;
}

header .link-island {
    margin-left: auto;
    display: flex;
    gap: .2rem;
}

header .link-island a {
    display: block;
    padding: .3em;
    padding-left: .4em;
    padding-right: .4em;
    padding-top: .4em;
    text-decoration: none;
    color: var(--card-text-color);
    font-family: var(--header-font);
    font-size: 1.3em;
}

header .link-island a:nth-child(1) { text-decoration-color: #f04452 !important; }
header .link-island a:nth-child(2) { text-decoration-color: #eeb506 !important; }
header .link-island a:nth-child(3) { text-decoration-color: #0bbd33 !important; }
header .link-island a:nth-child(4) { text-decoration-color: #246ad5 !important; }
header .link-island a:nth-child(5) { text-decoration-color: #a330d6 !important; }

header .link-island a:hover,
header .link-island a.current {
    text-decoration: underline;
}

header .link-island a.current {
    cursor: default;
}

header .link-island .change-lang-button {
    background-color: transparent;
    border: var(--card-border);
    padding-top: .4rem;
    padding-left: .8rem;
    padding-right: .8rem;
    border-radius: 5rem;
    cursor: pointer;
    font-family: var(--header-font);
    font-size: 1.3em;
    background-color: var(--card-background);
    color: var(--card-text-color);
    text-decoration: none !important;
    margin-left: 1rem;
    transition: 100ms;
}

header .link-island .change-lang-button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.header-drop-menu {
    transition: 300ms;
    max-height: 0;
    z-index: 101;
    display: none;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
    gap: .5rem;
    transform: scaleY(0);
    border-bottom: var(--header-border);

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body:not(.sticky-header) .header-drop-menu {
    box-shadow: none;
}

.header-drop-menu.visible {
    max-height: 20em;
    transform: translateY(0) scaleY(1);
    margin-top: .8rem;
}

.header-drop-menu a {
    display: block;
    padding: .5rem;
    border: var(--button-border);
    text-decoration: none;
    color: var(--card-text-color);
    border-radius: 5px;
    background: var(--header-button-background);
}

.header-drop-menu .change-lang-button {
    background-color: rgba(243, 249, 243, .6);
    text-align: center;
}

html[lang="en"] .change-lang-button::before {
    content: "Deutsch";
}

html[lang="de"] .change-lang-button::before {
    content: "English";
}

html[lang="en"] :not(html)[lang="de"] {
    display: none;
}

html[lang="de"] :not(html)[lang="en"] {
    display: none;
}

.header-drop-menu a:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

header .hamburger-icon {
    display: none;
    position: absolute;
    right: 0;
    padding-right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    width: calc(2em + .5rem);
    grid-template-columns: 1fr;
    grid-template-rows: 5px 5px 5px;
    gap: 5px;
    cursor: pointer;
}

header .hamburger-icon .bar {
    width: 100%;
    background-color: #20b966;
    transition: 300ms;
}

header .hamburger-icon:not(.x) .bar:nth-child(2) {
    width: 75%;
    margin-left: 25%;
}

header .hamburger-icon:not(.x) .bar:nth-child(3) {
    width: 50%;
    margin-left: 50%;
}

header .hamburger-icon.x .bar:nth-child(1) {
    transform: rotate(45deg) translate(.3em, .6em);
}

header .hamburger-icon.x .bar:nth-child(2) {
    width: 0;
    margin-left: 50%;
}

header .hamburger-icon.x .bar:nth-child(3) {
    transform: rotate(-45deg) translate(.3em, -.6em);
}

@media only screen and (max-width: 800px) {

    header .hamburger-icon {
        display: grid;
    }

    header .link-island {
        display: none;
    }

    .header-drop-menu {
        display: grid;
    }

    header.expanded {
        border-radius: 1rem;
    }

    body.sticky-header header.expanded.at-top {
        box-shadow: var(--header-shadow);
        border-radius: 0;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    header.expanded .hamburger-icon {
        padding-right: 0;
        width: 2em;
    }
    
}

.in-between-img {
    position: relative;
    z-index: -2;
    max-height: 10em;
}

.in-between-img img {
    width: 100%;
}

main {
    background: var(--card-background);
    padding: 2rem;
    width: min(100%, var(--main-max-width));
    margin: 0 auto;
    display: grid;
    gap: 1em;
    border-radius: 2rem;
    margin-top: .1rem;
    margin-bottom: 3rem;
    box-shadow: var(--card-shadow);
    border: var(--card-border);
    position: relative;
    z-index: 100;
    color: var(--card-text-color);
    transition: margin 300ms;
}

.header-placeholder {
    width: 100%;
    height: 4.6rem;
}

body:not(.sticky-header) .header-placeholder {
    display: none;
}

@media only screen and (max-width: 600px) {

    main {
        border-left: none;
        border-right: none;
    }

}

@media only screen and (min-width: 800px) {

    main {
        margin-top: 1rem;
    }

}

main.largebottomgap {
    margin-bottom: 20rem;
}

main p {
    text-align: start;
    margin: 0;
}

main p.success {
    text-align: center;
    color: rgb(5, 162, 0);
    font-weight: bold;
}

main p.error {
    text-align: center;
    color: red;
}

main .pic-link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

main .pic-link {
    border-radius: .8rem;
    border: var(--button-border);
    text-decoration: none;
    display: block;
    transition: 100ms;
}

main .pic-link:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

main .pic-link .pic-container {
    position: relative;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

main .pic-link .pic-container .pic-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .7rem;
    padding-bottom: 0;
    margin-bottom: -1px;
    background: var(--card-background);
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.2em;
    border-top-right-radius: .8rem;
    z-index: 100;
}

main .pic-link .pic-description {
    padding: .7rem;
}

main .pic-link .pic-container img {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    display: block;
    height: 9em;
    position: relative;
}

main .pic-link .pic-container::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

main .yt-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
}

main .yt-video-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: .5rem;
}

main p.error::before {
    content: "Error: ";
    font-weight: bold;
}

main .checkbox-container {
    display: grid;
    grid-template-columns: 2em 1fr;
    gap: 1em;
}

main h1, main h2, main h3,
main h4, main h5, main h6 {
    margin: 0;
}

main h1 {
    text-align: center;
    font-size: 1.8em;
}

main ol,
main ul {
    margin: 0;
}

main fieldset {
    padding: 1rem;
    display: grid;
    gap: 1em;
    border-radius: .8em;
    border: var(--button-border);
}

main .enable-gap {
    display: grid;
    gap: 1em;
}

main fieldset.many-inputs {
    gap: 0em;
}

main fieldset.many-inputs input:not(:last-of-type) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
}

main fieldset.many-inputs input:not(:first-of-type) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

main a.linkbutton,
main input,
main button {
    text-decoration: none;
    color: var(--button-color);
    text-align: center;
    display: block;
    width: 100%;
    font-family: var(--general-font);
    font-weight: normal;
    font-size: 1.2em;
    padding: .8em;
    border-radius: .5rem;
    background-color: var(--button-background);
    border: var(--button-border);
    cursor: pointer;
    transition: 100ms;
}

main a.linkbutton.smaller,
main input.smaller,
main button.smaller {
    padding: .5em;
    font-size: 1em;
}

main input {
    background-color: var(--input-background);
    font-family: var(--general-font);
    font-weight: normal;
    cursor: initial;
    font-size: 1em;
    color: var(--input-color);
}

main a {
    color: var(--card-text-color);
}

main .round-edges {
    border-radius: .8em;
}

main a.linkbutton:hover,
main button:hover:not(:disabled) {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

main a.linkbutton.smaller:hover,
main button.smaller:hover:not(:disabled) {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

main button:disabled {
    cursor: not-allowed;
}

main section {
    display: grid;
    gap: 1em;
}

main textarea {
    width: 100%;
    resize: vertical;
    padding: .8em;
    border-radius: .5rem;
    background-color: var(--input-background);
    border: var(--button-border);
    font-family: var(--general-font);
    font-size: 1em;
    color: var(--input-color);
}

main .custom-form {
    display: grid;
    gap: 0;
}

main .custom-form *:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

main .custom-form *:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

main img {
    width: 100%;
    object-fit: cover;
}

main .smooth-jump {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
}

main .middle-container {
    width: 100%;
    position: relative;
    display: flex;
}

main img.smaller {
    width: auto;
    max-width: 100%;
    max-height: 20rem;
    margin: 0 auto;
}

footer {
    border-top: var(--footer-border);
    background: var(--footer-background);
    margin-top: auto;
    padding: 1rem;
    box-shadow: var(--footer-shadow);
    color: var(--footer-text-color);
    width: min(var(--footer-max-width), 100%);
    margin: 0 auto;
    margin-top: auto;
}

footer .footer-text {
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
}

footer .footer-text .theme-changer {
    margin-left: auto;
    right: 1rem;
    top: 0;
    border: var(--button-border);
    padding: .2rem;
    padding-left: .8rem;
    padding-right: .8rem;
    border-radius: .4rem;
    background: var(--button-background);
    color: var(--card-text-color);
    cursor: pointer;
    font-family: var(--general-font);
}

footer hr {
    border-color: var(--footer-hr-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

footer .link-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

footer .link-group {
    padding: 1rem;
}

footer .link-group .group-header {
    font-weight: bold;
    font-family: var(--header-font);
    font-size: 1.1em;
    margin-bottom: .3rem;
    display: block;
    color: var(--card-text-color);
}

footer .link-group .group-item {
    display: block;
    text-decoration: none;
    color: var(--footer-text-color);
    margin-bottom: .3rem;
}

footer .link-group .group-item:hover {
    color: var(--card-text-color);
}

@media only screen and (max-width: 700px) {

}

main .faq-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: .7em;
}

main .faq-container .entry {
    background-color: var(--button-background);
    border: var(--button-border);
    border-radius: .3em;
    padding: .5rem;
    transition: 300ms;
}

main .faq-container .question {
    position: relative;
    cursor: pointer;
    padding-right: 20px;
}

main .faq-container .entry.unfolded .question {
    font-weight: bold;
    margin-bottom: .5rem;
}

main .faq-container .question::after {
    content: ">";
    position: absolute;
    right: 0;
    top: 0;
    color: var(--card-text-color);
    font-weight: normal;
    transform: rotate(90deg);
    transition: 500ms;
}

main .faq-container .entry.unfolded .question::after {
    transform: rotate(270deg);
}

main .faq-container .entry.unfolded .answer {
    transition: 300ms;
    max-height: 300px;
    opacity: 1;
}

main .faq-container .entry:not(.unfolded) .answer {
    transition: 300ms;
    max-height: 0;
    opacity: 0;
}

/* non general css for multigolf */

main .back-button {
    position: absolute;
    top: -2rem;
    left: 2rem;
    font-size: 1rem;
    font-weight: normal;
    padding: .3rem;
    height: 2rem;
    width: fit-content;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: var(--card-border);
    padding-left: .8rem;
    padding-right: .8rem;
    background-color: var(--button-background);
    color: var(--button-color)
}

main:has(section.visible .back-button) {
    margin-top: 4rem;
}

.fullwidth-banner {
    background-image: url('assets/gifs/background.gif');
    padding: 10vh;
    position: relative;
}

.fullwidth-banner .darktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.fullwidth-banner .hugetext {
    position: relative;
    color: white;
    text-align: center;
    font-weight: 900;
    font-family: var(--header-font);
    font-size: 2rem;
}

.player-status-container {
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: .6rem;
}

.player-status-container .circle-indicator {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    background-color: black;
    margin-top: .35rem;
}

.player-status-container .circle-indicator.green {
    background-color: rgb(0, 255, 0);
}

.player-status-container .circle-indicator.blue {
    background-color: rgb(97, 82, 255);
}

.player-status-container .circle-indicator.orange {
    background-color: rgb(255, 204, 0);
}

.player-status-container .circle-indicator.red {
    background-color: rgb(255, 0, 0);
}

.player-status-container .reconnect {
    font-size: .8em;
    padding: .3em;
}

#game-config-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

#game-config-container > div {
    background-color: var(--button-background);
    border-radius: .5rem;
    border: var(--button-border);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

#game-config-container > div > .titlerow {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

#game-config-container > div .name {
    font-family: var(--header-font);
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    align-items: center;
}

#game-config-container > div .input-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#game-config-container > div .input-container * {
    width: fit-content;
}

#game-config-container > div .input-container input[type=checkbox] {
    transform: scale(1.5);
}

#game-config-container > div .input-container input[type=number] {
    padding: .3rem;
}

#game-config-container > div .warning::before {
    content: "Warning: ";
    color: red;
}

#qr-img {
    padding: 1em;
}

.qr-loading {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    background-image: url("assets/gifs/qr-loading.gif");
    background-size: 100%;
}

#fullscreen-canvas {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("assets/compressed/objects/grid.png");
    background-size: 40%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

main section[data-phase] {
    display: none;
}

main #board-canvas {
    width: 100%;
    aspect-ratio: 5 / 3;
}

@keyframes loading-text {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

h2#loading-indicator {
    animation: loading-text 3s infinite;
}

main .object-selection-container {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

main .object-selection-container .object {
    border: var(--button-border);
    --object-padding: .6rem;
    --object-border-radius: .5rem;
    padding: var(--object-padding);
    border-radius: var(--object-border-radius);
    position: relative;
}

main .object-selection-container .object.selected {
    outline: 3px solid blue;
}

main .log-output {
    font-family: monospace;
    white-space: pre;
}

main .object-selection-container .object:not(.selected) {
    cursor: pointer;
}

main .object-selection-container .head-img {
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-top: calc(-1 * var(--object-padding));
    margin-left: calc(-1 * var(--object-padding));
    margin-right: calc(-1 * var(--object-padding));
    margin-bottom: var(--object-padding);
    border-radius: var(--object-border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: var(--button-border);
    background-image: url("assets/objects/grid.svg");
    background-size: 50%;
}

main .object-selection-container .head-img > img {
    height: 4em;
    width: auto;
    image-rendering: pixelated;
}

main .object-selection-container .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    font-weight: bold;
    background-color: white;
    border-top-left-radius: var(--object-border-radius);
    border-bottom-right-radius: var(--object-border-radius);
    font-family: var(--header-font);
    border-bottom: var(--button-border);
    border-right: var(--button-border);
}

main .scoreboard {
    border-radius: .8em;
    border: var(--button-border);
    width: auto !important;
    max-width: 100%;
    max-height: 25em;
}

main .object-selection-container .description {
    font-family: var(--general-font);
}

#layout-choice-container {
    display: grid;
    gap: 1rem;
}

main .layout-choice {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    border: var(--button-border);
}

main .layout-choice canvas {
    width: 100%;
    height: 15em;
}

main .layout-choice button {
    width: fit-content;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 1em;
    border: var(--button-border);
    border-bottom: none;
    border-right: none;
    border-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 1rem;
}

.credit-card-container {
    background: var(--input-background);
    border: var(--button-border);
    border-radius: 1rem;
    padding: .5rem;
    margin-left: -1rem;
    margin-right: -1rem;
}

.credit-card-container canvas {
    background: transparent;
    width: 100%;
    margin-bottom: .5rem;
    transition: 300ms;
}

.credit-card-container .button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.credit-card-container .button-grid button {
    font-size: 1em;
    padding: .5rem;
}

.annoying-banner {
    width: calc(100% + 4rem);
    background: var(--banner-background);
    color: var(--banner-foreground);
    margin-left: -2rem;
    margin-right: -2rem;
    font-family: monospace;
    text-decoration: none;
    height: 3rem;
}

.annoying-banner canvas {
    width: 100%;
    height: 100%;
}

::-moz-selection {
    color: var(--on-primary-accent-color);
    background: var(--primary-accent-color);
}

::selection {
    color: var(--on-primary-accent-color);
    background: var(--primary-accent-color);
}