<script>
    const URL_BASE_PATH = "$base-path$"

    {
        // update theme
        if (localStorage.getItem("style") == null) {
            // const prefersDarkMode = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches
            localStorage.setItem("style", "light")
        }
        document.body.dataset.style = localStorage.getItem("style")

        // update language
        if (localStorage.getItem("lang") == null) {
            const userDefaultLang = navigator.language || navigator.userLanguage
            if (userDefaultLang.startsWith("de")) {
                localStorage.setItem("lang", "de")
            } else {
                localStorage.setItem("lang", "en")
            }
        }
        document.documentElement.lang = localStorage.getItem("lang")


        // replace CSS "100vh" with actual inner height in px
        // (-1 to prevent inaccuracies in some browsers)
        const updateInnerHeight = () => {
            const height = window.screen?.availHeight || window.innerHeight
            document.body.style.setProperty("--full-height", `${height - 1}px`)
        }
        updateInnerHeight()
        addEventListener("resize", updateInnerHeight)

        // register service worker for PWA functionality
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("$base-path$service_worker.js")
        }

        // make smooth jump links work
        for (const element of document.querySelectorAll(".smooth-jump")) {
            console.log(element)
            if (!element.dataset.jumpTo) continue
            const target = document.querySelector(element.dataset.jumpTo)
            if (!target) continue
            element.addEventListener("click", () => {
                target.scrollIntoView({
                    behavior: "smooth"
                })
            })
        }

        // enable mobile debugging
        const urlParams = new URLSearchParams(window.location.href)
        if (urlParams.has("show_errors")) {
            function log(msg) {
                const textNode = document.createElement("div")
                textNode.textContent = msg
                document.body.appendChild(textNode)
            }

            log("Activated Alert Debug Mode")
            addEventListener("error", event => {
                log(`[L${event.lineno} C${event.colno}] ${event.message} (${event.filename})`)
            })
        }
    }
</script>