<header class="at-top">
    <div class="header-content">
        <a href="$base-path$" class="logo-container">
            <img src="$base-path$assets/logo/logo.svg" class="logo" alt="Multigolf Logo" />
            <div class="logo-text" href="$base-path$">multi.golf</div>
        </a>
        <div class="link-island">
            <a href="$base-path$host/">
                <span lang="en">Start Game</span>
                <span lang="de">Spiel Starten</span>
            </a>
            <a href="$base-path$join/">
                <span lang="en">Join Game</span>
                <span lang="de">Spiel Beitreten</span>
            </a>
            <a href="$base-path$about/">
                <span lang="en">About</span>
                <span lang="de">Info</span>
            </a>
            <a href="$base-path$faq/">
                <span lang="en">FAQ</span>
                <span lang="de">FAQ</span>
            </a>

            <a class="change-lang-button"></a>
        </div>
        <div class="hamburger-icon" tabindex="0">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div class="header-drop-menu">
        <a lang="en" href="$base-path$host/">Start a Game</a>
        <a lang="en" href="$base-path$join/">Join a Game</a>
        <a lang="en" href="$base-path$about/">What is Multigolf?</a>
        <a lang="en" href="$base-path$faq/">FAQ & Help</a>
        <a lang="en" href="$base-path$contact/">Contact</a>

        <a lang="de" href="$base-path$host/">Spiel Starten</a>
        <a lang="de" href="$base-path$join/">Spiel Beitreten</a>
        <a lang="de" href="$base-path$about/">Was ist Multigolf?</a>
        <a lang="de" href="$base-path$faq/">FAQ & Hilfe</a>
        <a lang="de" href="$base-path$contact/">Kontakt</a>

        <a class="change-lang-button"></a>
    </div>
</header>
<div class="header-placeholder"></div>

<script>
    {
        const changeLangButtons = document.querySelectorAll(".change-lang-button")
        for (const changeLangButton of changeLangButtons) {
            changeLangButton.onclick = event => {
                const languages = ["en", "de"]
                const currStyle = localStorage.getItem("lang") || languages[0]
                const nextIndex = (languages.indexOf(currStyle) + 1) % languages.length
                const nextNextIndex = (languages.indexOf(currStyle) + 2) % languages.length
                localStorage.setItem("lang", languages[nextIndex])
                document.documentElement.lang = localStorage.getItem("lang")

                changeLangButton.animate([
                    { transform: "rotateX(0deg)" },
                    { transform: "rotateX(360deg)" }
                ], {
                    easing: "ease-in-out",
                    duration: 350,
                    fill: "forwards"
                })

                event.preventDefault()
            }
        }

        const header = document.querySelector("header")
        const hamburger = document.querySelector(".hamburger-icon")
        const headerDropMenu = document.querySelector(".header-drop-menu")

        hamburger.onclick = () => {
            header.classList.toggle("expanded")
            hamburger.classList.toggle("x")
            headerDropMenu.classList.toggle("visible")
        }

        const getLastUrlBit = href => href.split("/").filter(s => s).slice(-1)[0]
        for (const a of document.querySelectorAll("header .link-island a")) {
            if (getLastUrlBit(a.href) == getLastUrlBit(location.href)) {
                a.classList.add("current")
            }
        }

        addEventListener("scroll", () => {
            // on bouncy browser views (e.g. latest safari),
            // window.scrollY can be negative during the bouncing animation!

            if (window.scrollY <= 0) {
                header.classList.add("at-top")
                headerDropMenu.classList.add("at-top")
            } else {
                header.classList.remove("at-top")
                headerDropMenu.classList.remove("at-top")
            }
        })
    }
</script>