<footer>
    <div class="link-grid">
        <div class="link-group">
            <div class="group-header">Game</div>
            <a class="group-item" href="$base-path$host">
                <span lang="en">Start a Game</span>
                <span lang="de">Spiel Starten</span>
            </a>
            <a class="group-item" href="$base-path$join">
                <span lang="en">Join a Game</span>
                <span lang="de">Spiel Beitreten</span>
            </a>
            <a class="group-item" href="$base-path$mono">
                <span lang="en">Play Monogolf</span>
                <span lang="de">Spiel Monogolf</span>
            </a>
        </div>
        <div class="link-group">
            <div class="group-header">Info</div>
            <a class="group-item" href="$base-path$about">
                <span lang="en">About Multigolf</span>
                <span lang="de">Über Multigolf</span>
            </a>
            <a class="group-item" href="$base-path$faq">FAQ</a>
            <a class="group-item" href="$base-path$contact">
                <span lang="en">Contact Me</span>
                <span lang="de">Kontakt</span>
            </a>
        </div>
        <div class="link-group">
            <div class="group-header">
                <span lang="en">Legal</span>
                <span lang="de">Legales</span>
            </div>
            <a class="group-item" href="$base-path$impressum">
                <span lang="en">Imprint</span>
                <span lang="de">Impressum</span>
            </a>
            <a class="group-item" href="$base-path$data-privacy">
                <span lang="en">Data Privacy</span>
                <span lang="de">Datenschutz</span>
            </a>
        </div>
        <div class="link-group">
            <div class="group-header">Links</div>
            <a class="group-item" href="https://www.instagram.com/multi.golf/">Instagram</a>
            <a class="group-item" href="https://www.tiktok.com/@multi.golf">TikTok</a>
            <a class="group-item" href="https://multigolf.myspreadshop.de/" target="_blank">
                <span lang="en">Merch Shop</span>
                <span lang="de">Fan-Shop</span>
            </a>
            <a class="group-item" href="https://play.google.com/store/apps/details?id=golf.multi.twa" target="_blank">
                Play Store
            </a>
        </div>
    </div>
    <hr>
    <div class="footer-text">
        <span lang="en" class="text">Made by Noel Friedrich</span>
        <span lang="de" class="text">Erstellt von Noel Friedrich</span>
        <button class="theme-changer" id="change-style-a">
            <span lang="en">Change Theme</span>
            <span lang="de">Hell/Dunkel</span>
        </button>
    </div>
</footer>

<script>
    document.getElementById("change-style-a").onclick = event => {
        const styles = ["light", "dark"]
        const currStyle = localStorage.getItem("style") || "light"
        const nextIndex = (styles.indexOf(currStyle) + 1) % styles.length
        localStorage.setItem("style", styles[nextIndex])
        document.body.dataset.style = localStorage.getItem("style") || "light"

        event.preventDefault()
    }
</script>