<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="$description$">
    <meta charset="UTF-8">
    <title>$title$</title>
    <link rel="manifest" href="$base-path$manifest.json">
    <link rel="icon" type="image/svg" href="$base-path$assets/logo/favicon.ico">
    <link rel="stylesheet" href="$base-path$style.css">
    <link rel="stylesheet" href="$base-path$$extra_css$">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Quicksand">
</head>